@font-face {
	font-family: 'Poppins';
	src: url("Poppins-Regular.ttf") format("TrueType");
	font-weight: normal;
	font-style: normal;
}

.coolclass1 {
		background-color: black;
		padding: 20px;
		margin:  20px;
		color: whitesmoke;
		font-family: Poppins, sans-serif;
}